<!DOCTYPE html>
<html data-ng-app="resumeApp" data-ng-controller="ResumeController">
<head>
  <title>YetAnotherWebResume</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="assets/css/normalize.css" rel="stylesheet" media="screen">
  <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="assets/css/style.css" rel="stylesheet" media="screen">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>

  <script src="app/app.js"></script>
</head>
<body>
  <div class="container">

    <!-- GitHub Fork me banner -->
    <a href="https://github.com/suw/YetAnotherWebResume"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

    <!-- Header -->
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>{{Page.name}}</h1>
          <h3>{{Page.subtitle}}</h3>
        </div>
      </div>
    </div>

    <!-- Summary -->
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <div class="lead">{{Page.summary}}</div>
        </div>
      </div>
    </div>

    <!-- Work Experience -->
    <div class="row">
      <div class="col-md-12">

        <h3><span class="section-icon glyphicon glyphicon-briefcase"></span> Experience</h3>
        <div class="content list-content" id="experience">
          <div class="row" data-ng-repeat="work in Page.experience">
            <div class="col-md-8">
              <h4>{{work.company}} <small>{{work.location}}</small></h4>
            </div>
            <div class="col-md-4">
              <div class="pull-right">
                <pre class="right-detail">{{work.title}}</pre>
                <pre class="right-detail">{{work.dates}}</pre>
              </div>
            </div>
            <div class="col-md-12">
              <div class="clearfix"><!-- --></div>
              <div class="description">{{work.description}}</div>
              <ul>
                <li data-ng-repeat="detail in work.details">{{detail.text}}</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Projects -->
    <div class="row">
      <div class="col-md-12">

        <h3><span class="section-icon glyphicon glyphicon-hdd"></span> Recent Projects</h3>
        <div class="content list-content" id="projects">
          <div class="row" data-ng-repeat="project in Page.projects">
            <div class="col-md-8">
              <h4 class="pull-left">{{project.title}} <small>{{project.tech}}</small></h4>
            </div>
            <div class="col-md-4">
              <div class="pull-right">
                <pre class="right-detail">{{project.role}}</pre>
                <pre class="right-detail">{{project.dates}}</pre>
              </div>
            </div>
            <div class="col-md-12">
              <div class="clearfix"><!-- --></div>
              <div class="description">{{project.description}}</div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Education -->
    <div class="row">
      <div class="col-md-12">

        <h3><span class="section-icon glyphicon glyphicon-book"></span> Education</h3>
        <div class="content list-content" id="education">
          <div class="row" data-ng-repeat="place in Page.education">
            <div class="col-md-8">
              <h4 class="pull-left">{{place.name}} <small>{{place.degree}}</small></h4>
            </div>
            <div class="col-md-4">
              <div class="pull-right">
                <pre class="right-detail">{{place.type}}</pre>
                <pre class="right-detail">{{place.dates}}</pre>
              </div>
            </div>
            <div class="clearfix"><!-- --></div>
          </div>
        </div>

      </div>
    </div>

    <!-- Skills -->
    <div class="row">
      <div class="col-md-12">

        <h3><span class="section icon glyphicon glyphicon-inbox"></span> Skills</h3>
        <div class="content" id="skills">
          <code data-ng-repeat="skill in Page.skills | orderBy:'text'" class="{{skill.level}}">{{skill.text}}</code>
        </div>

      </div>
    </div>

    <!-- Contact info -->
    <div class="row">
      <div class="col-md-12">
        <h3><span class="section-icon glyphicon glyphicon-user"></span> Contact</h3>
        <div class="content" id="contact">
          <span data-ng-repeat="contact in Page.contact track by $index">
            <a href="{{contact.link}}">{{contact.name}}</a>
            <span data-ng-show="{{$index}} != {{Page.contact.length - 1}}"> /</span>
          </span>
        </div>

      </div>
    </div>

  </div>
</body>
</html>
